# Created by https://www.gitignore.io/api/r

### R ###
# History files
.Rhistory
.Rapp.history
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Ignoring downloaded ZIP files
*.zip

# Ignoring the working directories
UCI HAR Dataset/
data/
output/
